.green-button,
.red-button,
.blue-button {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
  text-decoration: none;
  cursor: pointer;

  &.green-button {
    background-color: #28a745;
  }

  &.red-button {
    background-color: #dc3545;
  }

  &.blue-button {
    background-color: #3545dc;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &.green-button:hover {
    background-color: #107020;
  }

  &.red-button:hover {
    background-color: #a01020;
  }

  &.blue-button:hover {
    background-color: #1020a0;
  }
}

input[type='button'] {
  color: pink;
}
