// Add this at the top of your SCSS file to define color variables
$bluecolor: #1e6091;
$fff: #ffffff;

@font-face {
  font-family: 'Nexa';
  src: url('../css/fonts/Nexa-Heavy.ttf') format('woff'),
       url('../css/fonts/Nexa-Heavy.ttf') format('woff2');
  /* Add more formats if needed */
  font-weight: normal;
  font-style: normal;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 0;
}

.form-container {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #cee4f2;
  border: 1px solid $bluecolor;
  border-radius: 10px;
  color: black;

  .addnew {
    font-size: 25px;
    color: $bluecolor;
    margin-bottom: 20px;
    font-family: 'Nexa', sans-serif;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      margin-bottom: 5px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  .input-row {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Adjust as needed */
  }

  .input-row > div {
    width: calc(28% - 2px); /* Adjust as needed, subtracting 5px for space */
  }

  .add-button,
  .cancel-button {
    width: calc(50% - 5px); /* 5px space between buttons */
    background-color: #02b168;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px; /* Space between buttons */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .cancel-button {
    background-color: #d9534f;
  }

  .add-button:hover {
    background-color: #02b168;
  }

  .cancel-button:hover {
    background-color: #c9302c;
  }
}

nav {
  margin-bottom: 30px; // Adjust the value as needed
}

.select-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  select {
    margin: 0 10px;
    padding: 8px;
    border: 1px solid $bluecolor;
    border-radius: 5px;
    background-color: $fff;
    color: black;
    cursor: pointer;

    &:focus {
      outline: none;
      border-color: darken($bluecolor, 10%);
    }
  }
  .table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  
    select {
      margin-bottom: 10px;
      width: 100%;
    }
  
    .sort-by-rating,
    .sort-by-price {
      button {
        width: 48%; /* Adjust as needed */
        margin-bottom: 10px;
        background-color: transparent;
        border: 1px solid black;
        color: black;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
  
        &:hover {
          background-color: #1e6091; /* Change to your desired hover background color */
          color: white; /* Change to your desired hover text color */
        }
      }
    }
  
    .sort-by-rating {
      button {
        margin-right: 2%; /* Add a small margin to separate buttons */
      }
    }
  
    .sort-by-price {
      button {
        margin-left: 2%; /* Add a small margin to separate buttons */
      }
    }
  
    input {
      width: 100%;
      margin-bottom: 10px;
      padding: 8px;
      border: 1px solid $bluecolor;
      border-radius: 5px;
      background-color: $fff;
      color: black;
      cursor: text;
  
      &:focus {
        outline: none;
        border-color: darken($bluecolor, 10%);
      }
    }
  }
}