$border-color: #404040;
$margin-size: 1rem;

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.product {
  border: 1px solid $border-color;
  margin: $margin-size;
}

body {
  background-color: white;
}
