@font-face {
  font-family: "LovelyLove";
  src: url("./images/lovelove.regular.ttf") format("truetype");
  font-weight: bold;
}
* {
  box-sizing: border-box;
}

.top-bar {
  background-color: #1e6091;
  color: #fff;
  padding: 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.top-bar img {
  margin-right: 10px;
  cursor: pointer;
  width: 60px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 5px;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  color: #fff;
  border: 2px solid #1e6091;
  border-color: #1e6091;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}

.center-section {
  flex-grow: 1;
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

#search-icon,
#profile-icon,
#cart-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

h1 {
  font-family: "LovelyLove";
  margin: 0;
  color: #1e6091;
  font-weight: 400px;
  font-size: 3em;
}

<<<<<<< HEAD
/* end of nav css */


/*  search  */
.search-bar {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: height 0.3s ease-out;
    overflow: hidden;
    z-index: 1; 
    background-color: white; 
    padding: 10px; 


=======
.search-bar {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
>>>>>>> main
}



input {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #1e6091;
  outline: none;
  width: calc(100% - 16px);
  box-sizing: border-box;
}

input:focus {
  border-bottom: 2px solid #1e6091;
  box-shadow: none;
}

<<<<<<< HEAD
/* button css */

.admin-button {
    background-color: #ffffff; /* Blue background color */
    border: none;
    color: black; /* White text color */
    padding: 8px 12px; /* Small padding */
    border-radius: 40px; /* Rounded corners */
    width: fit-content; /* Adjust width based on content */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth hover effect */
    margin: auto;
    padding: 8px 12px;


    /* Hover effect */
    &:hover {
      background-color: #0056b3; /* Darker blue on hover */
    }
=======
.admin-button,
.admin-button1 {
  border: none;
  padding: 8px 12px;
  border-radius: 40px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.3s ease;
>>>>>>> main
}

.admin-button {
  background-color: #fff;
  color: #000;
  margin-left: auto;
}
.admin-button:hover {
  background-color: #1e6091;
}

.admin-button1 {
  color: #fff;
}
.admin-button1:hover {
  color: #000;
  text-decoration: none;
  background-color: #fff;
}

.AdminFunc a {
<<<<<<< HEAD
    padding: 8px 12px;
}
  
  
/*  end of button css */
=======
  padding: 8px 12px;
}/*# sourceMappingURL=Nav.css.map */
>>>>>>> main
