

$main-color: #1e6091;
$white-color: #fff;
$black-color: #000;

@font-face {
    font-family: 'LovelyLove';
    src: url('./images/lovelove.regular.ttf') format('truetype');
    font-weight: bold;
    // font-style: italic;
}
* {
    box-sizing: border-box;
}
.top-bar {
  background-color: $main-color;
  color: $white-color;
  padding: 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  img {
    margin-right: 10px;
    cursor: pointer;
    width: 60px;
    height: 70px;
    object-fit: contain;
    margin-left: 5px;
  }
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    color: $white-color;
    border: 2px solid $main-color;
    border-color: $main-color;
}

.left-section,
.right-section {
    display: flex;
    align-items: center;
}

.center-section {
    flex-grow: 1;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: $white-color;
}

#search-icon,
#profile-icon,
#cart-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

h1 {
    font-family: 'LovelyLove';
    margin: 0;
    color: $main-color;
    font-weight: 400px;
    font-size: 4em;
}

// .search-bar {
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     transform: translateX(-50%);
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 100%;
// }

// input {
//     margin-top: 10px;
//     padding: 8px;
//     border: none;
//     border-bottom: 2px solid $main-color;
//     outline: none;
//     width: calc(100% - 16px);
//     box-sizing: border-box;
// }

// input:focus {
//     border-bottom: 2px solid $main-color;
//     box-shadow: none;
// }
.AdminFunc {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust the margin as needed */
}

.admin-button1 {
  margin-right: 10px; /* Adjust the margin as needed */
}

.admin-button,
.admin-button1 {
  border: none;
  padding: 8px 12px;
  border-radius: 40px;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-button1 {
  color: $white-color;

  &:hover {
    color: $black-color;
    text-decoration: none;
    background-color: $white-color;
  }
}




.AdminFunc a {
    padding: 8px 12px;
}
.dropdown {
    padding-right: 20px;
    position: relative;
  


    
    &-toggle {
      color: rgb(10, 30, 93);
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
    }
  
    &-menu {
      display: none;
      position: absolute;
      background-color: white;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      min-width: 160px;
      border-radius: 5px;
      padding: 10px 0;
    }
  
    &-item {
      color: black;
      padding: 10px;
      text-decoration: none;
      display: block;
  
      &:hover {
        background-color: #f9f9f9;
      }
    }
  
    &-toggle:focus + &-menu {
      display: block;
    }
  
    &-menu a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: black;
  
      &:hover {
        background-color: #f9f9f9;
      }
    }
  }