.product-card {
  position: relative;
  width: 320px;
  height: 425px;
  border-radius: 4%;
  margin: 1rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  .product-image {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      border-radius: 4%;
      max-width: 400px;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .product-info {
    padding: 1rem;

    a {
      text-decoration: none;
      color: black;
    }

    .blue-button,
    .red-button,
    .green-button {
      margin-top: 1rem;
    }
  }

  .heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      background-color: #ff385c;
      border-radius: 50%;
      top: 10px;
    }

    &::before {
      left: -10px;
    }

    &::after {
      left: 10px;
    }
  }

  @media (min-width: 768px) {
    align-items: flex-start;
  }
}

.product {
  border: none;
  margin: 1rem;
}
