@font-face {
  font-family: "Nexa";
  src: url("../css/fonts/Nexa-Heavy.ttf") format("woff"), url("../css/fonts/Nexa-Heavy.ttf") format("woff2");
  /* Add more formats if needed */
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  margin: 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.cart-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5%;
}

/* Add these styles for the footer */
.footer {
  margin-top: auto; /* Push the footer to the bottom */
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

.shopping-cart {
  font-family: "Arial", sans-serif;
}

.shopping-cart-title {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

body {
  font-family: "Arial", sans-serif;
  height: 100%;
  margin: 0;
}

.cart-container {
  display: flex;
  justify-content: space-between;
}

.cart-items {
  flex: 1;
  margin-right: 20px;
}

.empty-cart {
  text-align: center;
  margin-top: 20px;
}

.cart-items-list {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item-details {
  display: flex;
  align-items: center;
}

.item-image {
  width: 80px;
  margin-right: 20px;
}

.item-info {
  flex: 1;
}

.item-name {
  font-weight: bold;
  color: #333;
}

.item-size-selector {
  margin-top: 5px;
}

.item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item-price {
  margin-bottom: 5px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.action-button,
.decrease-button,
.increase-button,
.remove-button,
.clear-cart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.decrease-button:focus,
.increase-button:focus,
.remove-button:focus,
.clear-cart-button:focus {
  outline: none;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.quantity {
  margin: 0 5px;
}

.clear-cart {
  margin-top: 20px;
  text-align: center;
}

.clear-cart-button {
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.cart-summary {
  flex-basis: 30%;
}

.subtotal-text,
.shipping-text,
.total-text {
  margin: 10px 0;
}

.subtotal-text::before,
.shipping-text::before,
.total-text::before {
  content: attr(data-label);
  font-weight: bold;
}

.buttonclear {
  width: 150px;
  height: 30px;
  display: inline-block;
  background-color: transparent;
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.buttonclear:hover {
  background-color: #1e6091;
  color: white;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.paypal-buttons {
  margin-top: 10px; /* Add margin for spacing */
}

.paypal-buttons button {
  width: 150px; /* Set the width to match the "Clear Cart" button */
  height: 30px; /* Set the height to match the "Clear Cart" button */
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children vertically */
}

/* Apply the class to the container that wraps everything else except h2 */
.centered-container > * {
  margin: 10px; /* Adjust margin as needed for space between elements */
}

.item-size-selector {
  margin-top: 5px;
}

.removebutton {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 10px; /* Adjust the margin to add space */
  background-color: transparent;
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.removebutton:hover {
  background-color: #1e6091;
  color: white;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.empty-cart-message {
  margin-top: 40px;
  text-align: center; /* Center the message horizontally */
}

/* Add these styles to make the "Oh no" message big and centered */
.empty-cart-message h2 {
  font-size: 5em;
  margin-top: 20%;
  font-family: "Nexa", sans-serif;
  color: #981c1c;
}

.empty-cart-message p {
  font-size: 1em;
  font-family: "Nexa", sans-serif;
  color: black;
}/*# sourceMappingURL=ShoppingCart.css.map */